@charset "ISO-8859-1";




html {
  background: url("https://cdn.dribbble.com/users/318744/screenshots/1868504/attachments/315593/render-coffee-final.png") no-repeat center fixed;
  background-size: cover;
}

body {
	font-family: Papyrus;
	font-weight: bold;
	color: LightSeaGreen;
	font-size: 18px;
	text-align: center;
}

h1 {
  color: plum;
  font-size: 32px;
}